In [2]:
import random as rn
import pandas as pd

In [86]:
'''
<option>{cities}</option>
'''
for citie in _cities:
    print(f"<option>{citie}</option>", end="")

<option>Abohar, Punjab</option><option>Adilabad, Telangana</option><option>Agartala, Tripura</option><option>Agra, Uttar Pradesh</option><option>Ahmadnagar, Maharashtra</option><option>Ahmedabad, Gujarat</option><option>Aizawl  , Mizoram</option><option>Ajmer, Rajasthan</option><option>Akola, Maharashtra</option><option>Alappuzha, Kerala</option><option>Aligarh, Uttar Pradesh</option><option>Alipurduar, West Bengal</option><option>Allahabad, Uttar Pradesh</option><option>Alwar, Rajasthan</option><option>Ambala, Haryana</option><option>Amaravati, Maharashtra</option><option>Amritsar, Punjab</option><option>Asansol, West Bengal</option><option>Aurangabad, Maharashtra</option><option>Aurangabad, Bihar</option><option>Bakshpur, Uttar Pradesh</option><option>Bamanpuri, Uttar Pradesh</option><option>Baramula, Jammu and Kashmir</option><option>Barddhaman, West Bengal</option><option>Bareilly, Uttar Pradesh</option><option>Belgaum, Karnataka</option><option>Bellary, Karnataka</option><option>Bengaluru, Karnataka</option><option>Bhagalpur, Bihar</option><option>Bharatpur, Rajasthan</option><option>Bharauri, Uttar Pradesh</option><option>Bhatpara, West Bengal</option><option>Bhavnagar, Gujarat</option><option>Bhilai, Chhattisgarh</option><option>Bhilwara, Rajasthan</option><option>Bhiwandi, Maharashtra</option><option>Bhiwani, Haryana</option><option>Bhopal , Madhya Pradesh</option><option>Bhubaneshwar, Odisha</option><option>Bhuj, Gujarat</option><option>Bhusaval, Maharashtra</option><option>Bidar, Karnataka</option><option>Bijapur, Karnataka</option><option>Bikaner, Rajasthan</option><option>Bilaspur, Chhattisgarh</option><option>Brahmapur, Odisha</option><option>Budaun, Uttar Pradesh</option><option>Bulandshahr, Uttar Pradesh</option><option>Calicut, Kerala</option><option>Chanda, Maharashtra</option><option>Chandigarh , Chandigarh</option><option>Chennai, Tamil Nadu </option><option>Chikka Mandya, Karnataka</option><option>Chirala, Andhra Pradesh</option><option>Coimbatore, Tamil Nadu </option><option>Cuddalore, Tamil Nadu </option><option>Cuttack, Odisha</option><option>Daman, Daman and Diu</option><option>Davangere, Karnataka</option><option>DehraDun, Uttarakhand</option><option>Delhi, Delhi</option><option>Dhanbad, Jharkhand</option><option>Dibrugarh, Assam</option><option>Dindigul, Tamil Nadu </option><option>Dispur, Assam</option><option>Diu, Daman and Diu</option><option>Faridabad, Haryana</option><option>Firozabad, Uttar Pradesh</option><option>Fyzabad, Uttar Pradesh</option><option>Gangtok, Sikkim</option><option>Gaya, Bihar</option><option>Ghandinagar, Gujarat</option><option>Ghaziabad, Uttar Pradesh</option><option>Gopalpur, Uttar Pradesh</option><option>Gulbarga, Karnataka</option><option>Guntur, Andhra Pradesh</option><option>Gurugram, Haryana</option><option>Guwahati, Assam</option><option>Gwalior, Madhya Pradesh</option><option>Haldia, West Bengal</option><option>Haora, West Bengal</option><option>Hapur, Uttar Pradesh</option><option>Haripur, Punjab</option><option>Hata, Uttar Pradesh</option><option>Hindupur, Andhra Pradesh</option><option>Hisar, Haryana</option><option>Hospet, Karnataka</option><option>Hubli, Karnataka</option><option>Hyderabad, Telangana</option><option>Imphal, Manipur</option><option>Indore, Madhya Pradesh</option><option>Itanagar, Arunachal Pradesh</option><option>Jabalpur, Madhya Pradesh</option><option>Jaipur, Rajasthan</option><option>Jammu, Jammu and Kashmir</option><option>Jamshedpur, Jharkhand</option><option>Jhansi, Uttar Pradesh</option><option>Jodhpur, Rajasthan</option><option>Jorhat, Assam</option><option>Kagaznagar, Andhra Pradesh</option><option>Kakinada, Andhra Pradesh</option><option>Kalyan, Maharashtra</option><option>Karimnagar, Telangana</option><option>Karnal, Haryana</option><option>Karur, Tamil Nadu </option><option>Kavaratti, Lakshadweep</option><option>Khammam, Telangana</option><option>Khanapur, Maharashtra</option><option>Kochi, Kerala</option><option>Kohima, Nagaland</option><option>Kolar, Karnataka</option><option>Kolhapur, Maharashtra</option><option>Kolkata , West Bengal</option><option>Kollam, Kerala</option><option>Kota, Rajasthan</option><option>Krishnanagar, West Bengal</option><option>Krishnapuram, Tamil Nadu </option><option>Kumbakonam, Tamil Nadu </option><option>Kurnool, Andhra Pradesh</option><option>Latur, Maharashtra</option><option>Lucknow, Uttar Pradesh</option><option>Ludhiana, Punjab</option><option>Machilipatnam, Andhra Pradesh</option><option>Madurai, Tamil Nadu </option><option>Mahabubnagar, Telangana</option><option>Malegaon Camp, Maharashtra</option><option>Mangalore, Karnataka</option><option>Mathura, Uttar Pradesh</option><option>Meerut, Uttar Pradesh</option><option>Mirzapur, Uttar Pradesh</option><option>Moradabad, Uttar Pradesh</option><option>Mumbai, Maharashtra</option><option>Muzaffarnagar, Uttar Pradesh</option><option>Muzaffarpur, Bihar</option><option>Mysore, Karnataka</option><option>Nagercoil, Tamil Nadu </option><option>Nalgonda, Telangana</option><option>Nanded, Maharashtra</option><option>Nandyal, Andhra Pradesh</option><option>Nasik, Maharashtra</option><option>Navsari, Gujarat</option><option>Nellore, Andhra Pradesh</option><option>New Delhi, Delhi</option><option>Nizamabad, Telangana</option><option>Ongole, Andhra Pradesh</option><option>Pali, Rajasthan</option><option>Panaji, Goa</option><option>Panchkula, Haryana</option><option>Panipat, Haryana</option><option>Parbhani, Maharashtra</option><option>Pathankot, Punjab</option><option>Patiala, Punjab</option><option>Patna, Bihar</option><option>Pilibhit, Uttar Pradesh</option><option>Porbandar, Gujarat</option><option>Port Blair, Andaman and Nicobar Islands</option><option>Proddatur, Andhra Pradesh</option><option>Puducherry, Puducherry</option><option>Pune, Maharashtra</option><option>Puri, Odisha</option><option>Purnea, Bihar</option><option>Raichur, Karnataka</option><option>Raipur, Chhattisgarh</option><option>Rajahmundry, Andhra Pradesh</option><option>Rajapalaiyam, Tamil Nadu </option><option>Rajkot, Gujarat</option><option>Ramagundam, Telangana</option><option>Rampura, Rajasthan</option><option>Ranchi, Jharkhand</option><option>Ratlam, Madhya Pradesh</option><option>Raurkela, Odisha</option><option>Rohtak, Haryana</option><option>Saharanpur, Uttar Pradesh</option><option>Saidapur, Uttar Pradesh</option><option>Saidpur, Jammu and Kashmir</option><option>Salem, Tamil Nadu </option><option>Samlaipadar, Odisha</option><option>Sangli, Maharashtra</option><option>Saugor, Madhya Pradesh</option><option>Shahbazpur, Uttar Pradesh</option><option>Shiliguri, West Bengal</option><option>Shillong , Meghalaya</option><option>Shimla, Himachal Pradesh</option><option>Shimoga, Karnataka</option><option>Sikar, Rajasthan</option><option>Silchar, Assam</option><option>Silvassa, Dadra and Nagar Haveli</option><option>Sirsa, Haryana</option><option>Sonipat, Haryana</option><option>Srinagar, Jammu and Kashmir</option><option>Surat, Gujarat</option><option>Tezpur, Assam</option><option>Thanjavur, Tamil Nadu </option><option>Tharati Etawah, Uttar Pradesh</option><option>Thiruvananthapuram, Kerala</option><option>Tiruchchirappalli, Tamil Nadu </option><option>Tirunelveli, Tamil Nadu </option><option>Tirupati, Andhra Pradesh</option><option>Tiruvannamalai, Tamil Nadu </option><option>Tonk, Rajasthan</option><option>Tuticorin, Tamil Nadu </option><option>Udaipur, Rajasthan</option><option>Ujjain, Madhya Pradesh</option><option>Vadodara, Gujarat</option><option>Valparai, Tamil Nadu </option><option>Varanasi, Uttar Pradesh</option><option>Vellore, Tamil Nadu </option><option>Vishakhapatnam, Andhra Pradesh</option><option>Vizianagaram, Andhra Pradesh</option><option>Warangal, Telangana</option><option>Jorapokhar, Jharkhand</option><option>Brajrajnagar, Odisha</option><option>Talcher, Odisha</option>

In [78]:
file_name = "Indian_Cities_Database.csv"
cities_data = pd.read_csv(file_name)
cities_data.head()

         City        Lat       Long country iso2          State
0      Abohar  30.144533  74.195520   India   IN         Punjab
1    Adilabad  19.400000  78.310000   India   IN      Telangana
2    Agartala  23.836049  91.279386   India   IN        Tripura
3        Agra  27.187935  78.003944   India   IN  Uttar Pradesh
4  Ahmadnagar  19.094571  74.738432   India   IN    Maharashtra

In [79]:
cities = list(cities_data["City"])
states = list(cities_data["State"])
print(len(cities), len(states))

213 213

In [81]:
_cities = list()
for i in range(len(states)):
    string = cities[i] + ", " + states[i]
    _cities.append(string)
print(len(_cities))    
_cities[:10]

213

['Abohar, Punjab',
 'Adilabad, Telangana',
 'Agartala, Tripura',
 'Agra, Uttar Pradesh',
 'Ahmadnagar, Maharashtra',
 'Ahmedabad, Gujarat',
 'Aizawl  , Mizoram',
 'Ajmer, Rajasthan',
 'Akola, Maharashtra',
 'Alappuzha, Kerala']

In [1]:
# class_type = [
#     "Air-Conditioned Executive Chair Class (EC)", 
#     "Air-Conditioned First Class (1AC)",
#     "Air-Conditioned Two-Tier Class (2AC)",
#     "Air-Conditioned Three-Tier Class (3AC)",
#     "First Class (FC)",
#     "AC Chair Class (CC)",
#     "Sleeper Class (SL)",
#     "Second Class (2S)",
# ]

class_type=["EC",
"1AC",
"2AC",
"3AC",
"FC",
"CC",
"SL",
"2S"]

In [67]:
def setTime():
    h = '0' + str(rn.randint(0,12))
    m = '0' + str(rn.randint(0,59))
    s = '0' + str(rn.randint(0,59))
    return h[-2:]+":" + m[-2:]+":" + s[-2:]

In [85]:
train_no = list()
file = open("train_data.sql","w")
for i in range(400):
    source = _cities[rn.randint(0,len(_cities)-1)]
    destination = _cities[rn.randint(0,len(_cities)-1)]
    while(source==destination):
        destination = _cities[rn.randint(0,len(_cities)-1)]
    num = rn.randint(1000,9999)
    trainno = trainno = source[0] + destination[0] + "-" + str(num)
    while(trainno in train_no):
        source = _cities[rn.randint(0,len(_cities)-1)]
        destination = _cities[rn.randint(0,len(_cities)-1)]
        while(source==destination):
            destination = _cities[rn.randint(0,len(_cities)-1)]
        num = rn.randint(1000,9999)
        trainno = trainno = source[0] + destination[0] + "-" + str(num)
    if trainno not in train_no:
        train_no.append(trainno)
    classType = class_type[rn.randint(0,len(class_type)-1)]
    arrival = setTime()
    departure = setTime()
    distance = rn.randint(100, 500)
    fare = round(distance * 0.3)
    distance = str(distance)
    fare = str(fare)
    string = "INSERT INTO train VALUES('"+ trainno+ "', '" + source+"', '"+destination+"', '"+classType+"', '"+fare+"', '"+arrival+"', '"+departure+"', '"+distance+"');\n"
    file.write(string)
#     print(string)
file.close()

In [87]:
banks = ["Bank of Baroda", "Bank of India", "Bank of Maharashtra", "Canara Bank", "Central Bank of India", "Indian Bank", "Indian Overseas Bank", "Jammu & Kashmir Bank", "Punjab and Sind Bank", "Punjab National Bank", "State Bank of India", "UCO Bank" ,"Union Bank of India"]
for bank in banks:
    print(f"<option>{bank}</option>", end="")

<option>Bank of Baroda</option><option>Bank of India</option><option>Bank of Maharashtra</option><option>Canara Bank</option><option>Central Bank of India</option><option>Indian Bank</option><option>Indian Overseas Bank</option><option>Jammu & Kashmir Bank</option><option>Punjab and Sind Bank</option><option>Punjab National Bank</option><option>State Bank of India</option><option>UCO Bank</option><option>Union Bank of India</option>